<footer>
    copyright &copy; Blog -done by greenrock
    <ul>
    <li><a href="facebook.com">facebook</a></li>
    <li><a href="facebook.com">Twitter</a></li>
    <li><a href="facebook.com">Instagram</a></li>
    </ul>
</footer>